* {
    padding:0;
    margin:0;
    font-family: 'Quicksand', sans-serif;
    color: #333;
}
header{
    height: 70px;
    background-color: rgb(248, 245, 245);
}
header h1{
    display: inline-block;
    float: left;
    padding: 15px 24px;
    text-transform: uppercase;
}
header h1 a{
    transition: .3s;
}
header h1 a:hover{
    color:#f58545 ;
}
header ul{
    float: right;
}
header ul li{
    padding: 24px;
    display: inline-block;
}
header ul li a:hover{
    color: #f58545;
}
header ul li a:hover{
    transition: .3s;
}
a {
    text-decoration: none;
}
.container{
    width: 90%;
    margin:0 auto;
}
.container::after{
    content: '';
    display: block;
    clear:both;
}
.mobile-menu{
    float: right;
    display: none;
    padding: 18px;
}
.mobile-menu:hover{
    cursor: pointer;
}
#check{
    display: none;
}
.sidebar{
    position: fixed;
    top: 0;
    bottom: 0;
    left: -300px;
    width: 300px;
    background-color: rgba(81, 114, 153, 0.9);
    transition: .3s;
    z-index: 9999;
}
.sidebar ul li a{
    color: #fff;
}
#check:checked~.sidebar{
    left: 0;
}
.sidebar ul li{
    padding: 24px;
    transition: .3s;
    transition-property: background-color;
}
.sidebar ul li:hover {
    background-color: #f58545;
}
.banner{
    background-image: url("img/Untitled1.png");
    padding: 150px 0;
}
section{
    padding: 50px 0;
}
.banner img{
    width: 100px;
    border-radius: 10px;
    box-shadow: 0 3px 5px rgb(118, 124, 124);
    margin-bottom: 10px
}
.banner h2,
.banner p,
.banner span{
    color: white;
}
.banner h2{
    margin-bottom: 10px;
}
.banner p{
    font-size: 18px;
}
.banner-left{
    padding-left: 24px;
}
section h3{
    padding-bottom: 20px;
    text-align: center;
    margin: 20px;
    position: relative;
}
section h3::before{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 120px;
    height: 2px;
    background-color: #ddd;
    left: calc(50% - 60px);
}
section h3::after{
    content: '';
    display: block;
    position: absolute;
    bottom: -1px;
    width: 40px;
    height: 4px;
    background-color:#f58545;
    left: calc(50% - 20px);
}
#about p{
    text-align: justify;
    text-indent: 30px;
    line-height: 25px;
    margin-bottom: 15px;
}
#info,
#portfolio{
    background-color: #d3cdbb81;
}
#skills,
#contact{
    background-color:#fff;
}
#skills .bar {
    height: 30px;
    background-color: #ddd;
    border: 1px solid #ddd;
    margin: 5px 0 20px 0;
}
#info{
    text-align: center;
}
.bar .nilai{
    height: 30px;
    background-color: #93b4df;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.c{
    width: 75%;
}
.raptor{
    width: 70%;
}
.html{
    width: 80%;
}
.css{
    width: 60%;
}
.js{
    width: 40%;
}
.word{
    width: 70%;
}
.ppt{
    width: 70%;
}
.col-4{
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
    float: left;
    text-align: center;
    margin-bottom: 15px;
}
.col-4 img{
    width: 100%;
}
.col-4 a:hover img{
    transform: scale(1.2);
}
.col-3{
    float: left;
    box-sizing: border-box;
    width: 33.3%;
    text-align: center;
    padding: 50px 10px;
}
.col-3 h4{
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    margin-bottom: 15px;
}
footer{
    background-color: #333;
    padding: 40px;
    text-align: center;
}
footer small{
    color: #fff;
}
html{
    scroll-behavior: smooth;
}
@media(max-width: 768px){
    .mobile-menu{
        display: block;
    }
    header ul{
        display: none;
    }
    .col-4{
        width: 50%;
    }
    .col-3{
        width: 100%;
    }
}
